@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Playfair+Display:wght@900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none; 
    
}

header{
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: white;
  }

  .menu-hamburguer {
    display: none;
  }

  .logo{
      width: 7%;
  }

ul{
    display: flex;
    justify-content: space-between;
    width: 45vw;
    font-size: 1.2vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #9767A9;

}

li:hover{
font-weight: bold;
}

input{
    position: relative;
    left: 29px;
    width: 11vw;
    height: 4.5vh;
    border-radius:  12px;
    border: solid #9767A9 2px;
}

input::placeholder{
    position: relative;
    left:3px;
    background: url('Layer_3.png');
    background-size: contain;
    background-repeat: no-repeat;
    text-align:center;
}

header section{
    display: flex;
    justify-content: space-evenly;
    width: 12%;
}

.boxOne img{
    width: 98.9vw;
    height: 101vh;
}

figure .boxImg{
    width: 98.9vw;
    height: 101vh;
}

h1{
    width: 30%;
    position: relative;
    top:-298px;
    left: 200px;
    font-size: 6vw;
    color: white;
}

h2{
    width: 28%;
    position: relative;
    top:-440px;
    left: 795px;
    font-size: 2.7vw;
    color: white;
    font-weight: lighter;
}

.boxTwo{
    position: relative;
    bottom: 278px;
    width: 100%;
    height: 40vh;
    background-color: #9767A9;
    display: flex;
}

.boxTwo h3{
    color:white;
    font-family:'Playfair Display', serif;
    font-weight: 900;
    font-size: 46px;
    width: 53%;
    margin-top: 20px;
    margin-left: 79px;
    text-align: left;
}

.boxTwo p{
    width: 41%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 17.6px;
    margin-top: 20px;
    margin-right: 90px;
    text-align: left;
    
}

h4{
    font-family:'Playfair Display', serif; 
    font-size: 30px; 
    padding: 3px;
    width: 80%;
    margin-bottom: 3px;
}

p{
    font-family: 'Montserrat', sans-serif;  
    font-weight: 200;
    font-size: 14px;
    text-align: left;
    line-height: 20px;
}

.imgOne{
   width: 44%;
    position: relative;
    top:-315px;
    left: 92px;
}

 .conteiner-imgOne{
    position: absolute;
    top: 1149px;
    left: 160px;
    width: 32%;
    height: 68%;
    background-color: #9767A9;
    color: white;
    padding: 15px;
}

.imgTwo{
    width: 44%;
    position: relative;
    bottom:525px;
    right: -720px;
}

.conteiner-imgTwo{
    position: absolute;
    top: 1426px;
    left: 800px;
    width: 31%;
    height: 57%;
    background-color: #9767A9;
    color: white;
    padding: 15px;
}

.imgThree{
    width: 44%;
    position: relative;
    top:-520px;
    left: 92px;
}

.conteiner-imgThree{
    position: absolute;
    top:1950px;
    left: 180px;
    width: 31%;
    height: 42%;
    background-color: #9767A9;
    color: white;
    padding: 13px;
}

.imgFour{
    width: 44%;
    position: relative;
    bottom:773px;
    right: -720px;
}

.conteiner-imgFour{
    position: absolute;
    top: 2279px;
    left: 800px;
    width: 31%;
    height: 46%;
    background-color: #9767A9;
    color: white;
    padding: 13px;
}

.imgFive{
    width: 44%;
    position: relative;
    bottom:773px;
    right: -120px;
}

.conteiner-imgFive{
    position: absolute;
    top:2670px;
    left: 220px;
    width: 31%;
    height: 55%;
    background-color: #9767A9;
    color: white;
    padding: 13px;
}

.imgSix{
    width: 44%;
    position: relative;
    bottom:773px;
    right: -720px;
}

.conteiner-imgSix{
    position: absolute;
    top: 3259px;
    left: 820px;
    width: 31%;
    height: 41%;
    background-color: #9767A9;
    color: white;
    padding: 13px;
}

.imgSeven{
    width: 44%;
    position: relative;
    bottom:773px;
    right: -120px;
}

.conteiner-imgSeven{
    position: absolute;
    top:3670px;
    left: 220px;
    width: 31%;
    height: 35%;
    background-color: #9767A9;
    color: white;
    padding: 13px;
}

.caminho{
    position: absolute; 
    top:3670px;
    left: 780px; 
}

.boxFour{
    margin-left:30px ;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    bottom: 650px;
}

.boxFour figure{
    width: 19vw;
    padding: 5px;    
}

.boxFour img{
    width: 100%;
    height: 100%;
}

.conteiner-box-two{
   display: flex;
   position: relative;
   bottom: 243px;
}

.img5{
    height: 584px;
}

main{
    height: 311rem;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 14vh;
    background-color: #9767A9;
}

.direction{
    display: flex;
    width: 9%;
    padding:10px ;
}

.direction:hover{
    background-color: #cda3dd;
    cursor: pointer;
}


footer p{
    color: white;
}

@media(max-width:600px){
    body{
        background-color: aquamarine;
    }

    .menu-hamburguer{
        display: initial;
       
    }

    nav{
        display: none;
    }

    .menu{ 
        background-color: #9767A9;
        margin-top: -10px;
        margin-left: -12px;
        padding: 13px 6px 4px 4px;
        width: 70px;
        height:57px;
        position: fixed;
        top:1.5vw;
        left:2vw;
        transition: box-shadow 1s ease-in-out;
        
    }
    
    .hamburguer{
        display: block;
        background: white;
        width: 30px;
        height: 2px;
        position: relative;
        top: 12px;
        left:15.5px;
        transition: .5s ease-in-out;
        cursor: pointer;
    }
    
    .hamburguer::before,
    .hamburguer::after{
        background:white;
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        transition: .5s ease-in-out;
    }
    
    .hamburguer::before{
    top: -10px;
    }
    
    .hamburguer::after{
        top:10px;
    }
    
    input{
        display: none;
    }
    
    input:checked ~ label .menu{
        box-shadow: 2vw 2vw 2vw 100vh #9767A9;
    }
    
    input:checked ~ label .hamburguer{
        transform: rotate(45deg);
    }
    
    input:checked ~ label .hamburguer::before{
        transform: rotate(90deg);
        top:0;
    }
    
    input:checked ~ label .hamburguer::after{
        transform: rotate(90deg);
        top: 0;
    }

    header section{
        display: none;
    }
    
    .logo{
        position: relative;
        right: 120px;
        width: 15%;        
    }

    h1{
        top: -350px;
        left: 50px;
        font-size: 8.6vw;
        width: 34vw;
    }

    h2{
        top: -338px;
        left:47px;
        font-size: 4vw;
        width: 40vw;
    }

    .boxOne img{
        width: 98vw;
        height: 75vh;
        object-fit: cover;
    }

    .boxTwo{
        top:-176px;
    }
    


}