@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Playfair+Display:wght@900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none; 
    
}

header{
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 9vh;
    background-color: white;
  }

  .menu-hamburguer {
    display: none;
  }

  .logo{
      width: 7%;
  }

ul{
    display: flex;
    justify-content: space-between;
    width: 45vw;
    font-size: 1.2vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #9767A9;

}

li:hover{
font-weight: bold;
cursor: pointer;
}

input{
    position: relative;
    left: 29px;
    width: 11vw;
    height: 3.7vh;
    border-radius:  12px;
    border: solid #9767A9 2px;
}

input::placeholder{
    position: relative;
    left:3px;
    background: url('Layer_3.png');
    background-size: contain;
    background-repeat: no-repeat;
    text-align:center;
}

header section{
    display: flex;
    justify-content: space-evenly;
    width: 12%;
}

.boxOne img{
    width: 98.9vw;
    height: 101vh;
}

figure .boxImg{
    position: relative;
    width: 98.9vw;
    height: 101vh;
}

h1{
    width: 30%;
    position: absolute;
    top:398px;
    left: 260px;
    font-size: 6vw;
    color: white;
}

h2{
    width: 28%;
    position: absolute;
    top:440px;
    left: 1030px;
    font-size: 2.7vw;
    color: white;
    font-weight: lighter;
}

.boxTwo{
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    position: relative;
    bottom: 5px;
    width: 100%;
    height: 40vh;
    background-color: #9767A9;
}

.boxTwo h3{
    color:white;
    font-family:'Playfair Display', serif;
    font-weight: 900;
    font-size: 3.4vw;
    width: 49%;
    text-align: left;
}

.text{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.boxTwo p{
    width: 45vw;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 1.3vw;
    text-align: left;
}

h4{
    font-family:'Playfair Display', serif; 
    font-size: 2.2vw; 
    padding: 3px;
    width: 80%;
    margin-bottom: 3px;
}

p{
    font-family: 'Montserrat', sans-serif;  
    font-weight: 200;
    font-size: 1.2vw;
    text-align: left;
    line-height: 20px;
}

.imgOne{
    width: 44%;
    position: relative;
    top:-50px;
    left: 92px;
}

 .conteiner-imgOne{
    position: relative;
    top: -230px;
    left: 160px;
    width: 32%;
    height: 68%;
    background-color: #9767A9;
    color: white;
    padding: 15px;
}

.imgTwo{
    width: 44%;
    position: relative;
    bottom:685px;
    right: -920px;
}

.conteiner-imgTwo{
    position: absolute;
    top: 1996px;
    left: 1020px;
    width: 31%;
    height: 50%;
    background-color: #9767A9;
    color: white;
    padding: 15px;
}

.imgThree{
    width: 44%;
    position: relative;
    top:-690px;
    left: 92px;
}

.conteiner-imgThree{
    position: absolute;
    top:167rem;
    left: 200px;
    width: 31%;
    height: 42%;
    background-color: #9767A9;
    color: white;
    padding: 13px;
}

.imgFour{
    width: 44%;
    position: relative;
    bottom:973px;
    right: -920px;
}

.conteiner-imgFour{
    position: absolute;
    top: 198rem;
    left: 64rem;
    width: 31%;
    height: 46%;
    background-color: #9767A9;
    color: white;
    padding: 13px;
}

.imgFive{
    width: 44%;
    position: relative;
    top:-980px;
    left: 92px;
}

.conteiner-imgFive{
    position: absolute;
    top:230rem;
    left: 220px;
    width: 31%;
    height: 55%;
    background-color: #9767A9;
    color: white;
    padding: 13px;
}

.imgSix{
    width: 43%;
    position: relative;
    bottom:1273px;
    right: -920px;
}

.conteiner-imgSix{
    position: absolute;
    top: 260rem;
    left: 65rem;
    width: 31%;
    height: 41%;
    background-color: #9767A9;
    color: white;
    padding: 13px;
}

.imgSeven{
    width: 44%;
    position: relative;
    bottom:80rem;
    right: -120px;
}

.conteiner-imgSeven{
    position: absolute;
    top:294rem;
    left: 220px;
    width: 31%;
    height: 35%;
    background-color: #9767A9;
    color: white;
    padding: 13px;
}

.caminho{
    position: absolute; 
    top: 295rem;
    left: 65rem; 
}

.boxFour{
    margin-left:30px ;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    bottom: 70rem;
}

.conteiner-img-one{
 width: 40%;
 height: 20%;
 display: flex;
 flex-wrap: wrap;
}

.div-zero{
    display: flex;
}

.div-two{
    display: flex;
}

.conteiner-img-three{
    display: flex;
}

.boxFour figure{
    width: 19vw;
    padding: 5px;    
}

.boxFour img{
    width: 100%;
    height: 100%;
}

main{
    height: 397.8rem;
}

footer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 14vh;
    background-color: #9767A9;
}

.direction{
    display: flex;
    width: 8%;
    padding:10px ;
}

.direction:hover{
    background-color: #cda3dd;
    cursor: pointer;
}


footer p{
    font-size: 1vw;
    color: white;
}

@media(max-width:600px){


    .menu-hamburguer{
        display: initial;
       
    }

    nav{
        display: none;
    }

    .menu{ 
        background-color: #9767A9;
        margin-top: -10px;
        margin-left: -12px;
        padding-top:2%;
        width: 10%;
        height:9.2vh;
        position: fixed;
        top:1.5vw;
        left:2vw;
        transition: box-shadow 1s ease-in-out;
        
    }
    
    .hamburguer{
        display: block;
        background: white;
        width: 30px;
        height: 2px;
        position: relative;
        top: 12px;
        left:15.5px;
        transition: .5s ease-in-out;
        cursor: pointer;
    }
    
    .hamburguer::before,
    .hamburguer::after{
        background:white;
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        transition: .5s ease-in-out;
    }
    
    .hamburguer::before{
    top: -10px;
    }
    
    .hamburguer::after{
        top:10px;
    }
    
    input{
        display: none;
    }
    
    input:checked ~ label .menu{
        box-shadow: 2vw 2vw 2vw 100vh #9767A9;
    }
    
    input:checked ~ label .hamburguer{
        transform: rotate(45deg);
    }
    
    input:checked ~ label .hamburguer::before{
        transform: rotate(90deg);
        top:0;
    }
    
    input:checked ~ label .hamburguer::after{
        transform: rotate(90deg);
        top: 0;
    }

    header section{
        display: none;
    }
    
    .logo{
    
        width: 15%;               
    }

    h1{
        top: 10vh;
        left:9vw;
        font-size: 9vw;
        width: 34vw;
    }

    h2{
       top:36vh;
       left:9vw;
       font-size:3.6vw ;
       width: 34vw;
    }

    .boxOne img{
        width: 99.8vw;
        height: 75vh;
        object-fit: cover;
    }

    .boxTwo{
        top: -5px;
        height:68vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .boxTwo h3{ 
        font-size:5vw;
        width: 72vw;
    }

    .boxTwo p{
        width: 62vw;
        font-size: 2.6vw;
    }

    main{
        height: 345rem;
    }

    h4{
        width: 70%;
    }
    main p{
        width: 65%;
        font-size: 2vw;
    }

    .imgOne{
        top:1px;
        left: 150px;
    }
    
     .conteiner-imgOne{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items:center;
        left: 1px;
        top:-100px;
        width: 99.8vw;
        height: 60vh;
    }
 
    .imgTwo{
        top:-80px;
        left: 150px;
    }
    
    .conteiner-imgTwo{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items:center;
        left: 1px;
        top:255%;
        width: 100vw;
        height: 57vh;
    }
    
    .imgThree{
        top: 12rem;
        left: 150px;
    }
    
    .conteiner-imgThree{
        display: flex;
        flex-direction: column;
        align-items:center;
        width: 100%;
        height: 34%;
        left: 1px;
        top: 124rem;
        left: 0;
    }
    
    .imgFour{
        top: 21.5rem;
        left: 150px;
    }
    
    .conteiner-imgFour{
        top: 2379px;
        left: 1px;
        display: flex;
        flex-direction: column;
        align-items:center;
        width: 100%;
        height: 38%;
        left: 1px;
    }
    
    .imgFive{
        top: 34rem;
        left: 150px;
    }
    
    .conteiner-imgFive{
        top:2770px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items:center;
        width: 100%;
        height: 57%;
        left: 1px;
    }
    
    .imgSix{
        top: 51rem;
        left: 150px;
    }
    
    .conteiner-imgSix{
        top: 207rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items:center;
        width: 100%;
        height: 35%;
        left: 1px;
    }
    
    .imgSeven{
        top: 64rem;
        left: 150px;
    }
    
    .conteiner-imgSeven{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items:center;
        width: 100%;
        height: 37%;
        left: 1px;
        top: 233rem;
    }

    .caminho{
        width: 70%;
        top:250rem;
        left: 90px; 
    }

    .conteiner-img-box{
        border: solid;
        display: flex;
        width: 30%;
    }

    footer img{
        width: 50%;
    }

    .boxFour{
        width: 89.8vw;
        margin-left:30px ;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        position: relative;
        bottom: -87rem;
    }
    
    .conteiner-img-one{
        border: solid;
        width: 100%;
        flex-direction: column;
    }

    .div-zero{
        display: flex;
    }

    .king{
        border:solid ;
        height: 40vh;
    }

    .div-one{
        display: flex;
        height: 20vh;
        width: 100%;
    }

    
    .div-two{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    
    }

    .tais{
        border: solid;
        height: 30vh;
        width:vw;
    }

    .gloria{
        border: solid;
        width: 90vw;
    }

    .conteiner-img-two{
        border: solid;
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        width: 100%;
    }

    .modelo{
        border: solid;
        object-fit: cover;
        width: ;
    }

    .snoop{
        height: 50%;
    }
    
    .conteiner-img-three{
        width: 100%;
        border: solid;
        display: flex;
    }
    
    .boxFour figure{
        width:25vw;   
    }
    
    

}